*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* Nav related style */

#nav-parent{
    display: flex;
    justify-content: space-around;
    background-color: #1A0B2E;
    padding: 16px;
    border-bottom: 1px solid #412567;
}

.nav-menu{
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-list{
    list-style: none;
}

.nav-link{
    text-decoration: none;
}

#nav-parent h1{
    font-weight: 700;
}

#nav-parent .tech{
    color: white;
}

#nav-parent .wave{
    color: #9100F8;
}

.nav-menu .nav-link{
    color: #FFFFFF;
    font-weight: 500;
}

.primary-btn{
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    border-radius: 10000px;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 600;
}

.primary-btn:hover{
    color: #F7E93F;
}

.hamburger-menu{
    display: none;
    width: 30px;
}


/* Bnner related style */

#banner-parent{
    text-align: center;
}

.banner-content{
    padding: 100px 20px;
}



#banner-parent{
    background-image: url(../assets/hero-bg.png);
}

.banner-img{
    position: relative;
    max-width: 350px;
    margin: 0 auto;
}

.circle{
    /* position: relative; */
    width: 100%;
    height: auto;
    display: flex;
}

.mic{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 35%;
    transform: translate(-50%, -50%);
}

.banner-content h2{
    font-size: 3.75rem;
    color: #FFFFFF;
    font-weight: 800;
    margin-top: 40px;
}

.banner-content p{
    color: #FFFFFF;
    margin-bottom: 24px;
}

.banner-btn{
    background: transparent;
    padding: 13px 20px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    cursor: pointer;
    color: #00FF88;
    font-weight: 600;
}

.new-btn{
    position: absolute;
    top: 15%;
    left: 85%;
    padding: 8px 16px;
    border-radius: 1000px;
    border: none;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 1.12rem;
    font-weight: 600;
    cursor: pointer;
}

.banner-btn:hover{
    background-color: white;
    color: purple;
    border: 1px solid purple;
}


/* About and rating section style */

#about-parent{
    background-color: #1A0B2E;
}

.about-content{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.about-content h2{
    color: #FFFFFF;
    font-size: 3rem;
    margin-bottom: 16px;
    font-weight: 700;
}

.about-content p{
    color: #FFFFFF;
    line-height: 20px;
    margin-bottom: 80px;
}

.rating-content{
    display: flex;
    border-top: 1px solid #FFFFFF;
    max-width: 1200px;
    margin: 0 auto;
    gap: 80px;
    text-align: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.rating-content h2{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
}

.rating-content h4{
    color: #FFFFFF;
}

/* Grid related style */

#grid-parent{
    background-color: #230E3D;
}
#grid-parent h2{
    text-align: center;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 120px;
    padding-bottom: 40px;
}

.grid-container{
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    display: grid;
    padding-bottom: 120px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-card{
    background-color: #351165;
    border-radius: 40px;
}

#f1-grid{
    grid-row: span 2;
    padding: 107px 40px;
}

#g-2{
    grid-column: span 2;
    padding: 40px;
}

#g-3{
    grid-column: span 2;
    padding: 40px;
}

#g-4{
    grid-column: span 2;
    padding: 40px;
}

#g-5{
    padding: 40px;
}

.grid-card h3{
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 700;
}

.grid-card p{
    color: #FFFFFF;
    line-height: 24px;
}


/* Featured episode area */

#featured-parent{
    background-color: #1A0B2E;
}

#featured-parent h2{
    text-align: center;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 120px;
    padding-bottom: 40px;
}

.episode-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    padding-bottom: 120px;
}
.episode-card{
    background-color: #250D44;
    max-width: 380px;
    border-radius: 20px;
}

.youtube-video{
    width: 100%;
    padding: 0;
}

.card-text{
    padding: 24px;
}

.video-div{
    border-radius:  20px 20px 0 0;
    overflow: hidden;
}

.card-text h3{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
}

.card-text p{
    color: #FFFFFF;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.card-text h5{
    color: #00FF88;
    font-weight: 600;
}

/* Media Quary for smaall device */

@media screen and (max-width:576px){
    .nav-menu{
        display: none;
    }
    .btn-hidden{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }

    /* About section  */

    .rating-content{
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
    }

    /* Grid section */

    #grid-parent h2{
        font-size: 2rem;
        padding-top: 40px;
        padding-bottom: 16px;
    }

    .grid-container{
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }
    #f1-grid{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #g-2{
        padding: 20px;
    }

    #g-3{
        padding: 20px;
    }

    #g-4{
        padding: 20px;
    }
    #g-5{
        padding: 20px;
    }
    
    /* Featured episode */

    .episode-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }

    #featured-parent h2{
        font-size: 2rem;
        padding-top: 40px;
        padding-bottom: 16px;
    }
    
}